header {
    width: 100%;
    background-color: var(--color-grey1);
    height: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 60%;
    position: fixed;
    top: 0;
}

.container__button {
    background-color: var(--color-grey1);
    color: var(--color-white-fixed);
    height: 1.5rem;
    width: 3rem;
    border-radius: var(--border-radius);
}

.container__button:hover {
    background-color: var(--color-grey0);
    transition: 2s;
}

.container__logo {
    width: 7.5rem;
    height: 0.875rem;
}